*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.potaka{
	width:1000px;
    height:600px;
    margin: auto;
    background:green;
    position: relative;

}

.bitto{
	width:400px;
	height:400px;
	background:red;
	border-radius: 50%;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.mosak{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


















